<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideNavOpened">
    <div class="buttonContainer">
      <button type="button" mat-button>PatternExample</button>
    </div>
  </mat-drawer>
  <mat-drawer-content [ngSwitch]="state" class="content">
    <div class="windowContainer">
      <app-default-content
        *ngSwitchCase="0"
        class="window"
      ></app-default-content>
      <app-create-new
        [newPattern]="newPattern"
        *ngSwitchCase="1"
        class="window"
      ></app-create-new>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
