<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" [opened]="sideNavOpened">
    <div class="buttonContainer">
      <app-pattern-button
        class="patButton"
        *ngFor="let one of patterns"
        [pattern]="one"
        (buttonEmit)="patternSelected($event)"
      ></app-pattern-button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="content">
    <div class="windowContainer">
      <app-default-content
        *ngIf="state == 0; else elseBlock"
        class="window"
      ></app-default-content>
      <!-- <app-create-new
        [newPattern]="newPattern"

        *ngSwitchCase="1"
        class="window"
        (savePattern)="saveNewPattern()"
      ></app-create-new> -->
      <ng-template #elseBlock>
        <app-content
          (addNewPattern)="addNewPattern()"
          (deletePattern)="deletePattern($event)"
          [pattern]="selectedPattern"
          class="window"
          [state]="state"
        ></app-content>
      </ng-template>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
