.container {
  height: 100%;
  background-color: #e6e6e6;

  .content {
    display: grid;
    align-items: center;
    justify-items: center;
    .windowContainer {
      height: 100%;
      width: 98%;
    }
  }
}
