<div class="contentContainer">
  <div class="buttons">
    <button
      class="button description"
      type="button"
      [ngClass]="{ active: modeTogle == 0 }"
      mat-button
      (click)="OpenDescription()"
    >
      Описание
    </button>
    <button
      class="button files"
      type="button"
      [ngClass]="{ active: modeTogle == 1 }"
      mat-button
      (click)="OpenFiles()"
    >
      Файлы
    </button>
    <button
      class="button addNew"
      type="button"
      mat-button
      (click)="addNewAction()"
    >
      Добавить
    </button>
  </div>
  <div class="controls">
    <div class="name">
      <p>Паттерн:</p>
      <input type="text" />
    </div>
    <div *ngIf="!modeTogle" class="description">
      <p>Описание паттерна:</p>
      <textarea [(ngModel)]="description" #text></textarea>
    </div>
    <div *ngIf="modeTogle" class="files">
      <div class="filesTree">
        <app-file-view
          class="fileTree"
          [readolny]="false"
          [files]="newPattern!.files"
        ></app-file-view>
      </div>
      <div class="fileContent">
        <app-code-editor
          [content]="editorContent"
          [readonly]="false"
          #editor
          class="editor"
        ></app-code-editor>
      </div>
    </div>
  </div>
</div>
