<div class="contentContainer">
  <div class="buttons">
    <button
      class="button description"
      type="button"
      [ngClass]="{ active: modeTogle == 0 }"
      mat-button
      (click)="OpenDescription()"
    >
      Описание
    </button>
    <button
      class="button files"
      type="button"
      [ngClass]="{ active: modeTogle == 1 }"
      mat-button
      (click)="OpenFiles()"
    >
      Файлы
    </button>
    <button
      class="button addNew"
      type="button"
      mat-button
      (click)="addNewAction()"
    >
      Добавить
    </button>
  </div>
  <div class="controls">
    <div class="name">
      <p>Паттерн:</p>
      <input type="text" [(ngModel)]="newPattern!.name" />
    </div>
    <div *ngIf="!modeTogle" class="description">
      <p>Описание паттерна:</p>
      <textarea [(ngModel)]="newPattern!.description" #text></textarea>
    </div>
    <div *ngIf="modeTogle" class="files">
      <div class="filesTree">
        <app-file-view
          class="fileTree"
          [readonly]="false"
          [file]="newPattern!.files"
          (itemClicked)="fileClicked($event)"
        ></app-file-view>
      </div>
      <div class="fileContent">
        <app-code-editor
          *ngIf="
            selectedFile != undefined && selectedFile.type == 1;
            else emptyCodeBlock
          "
          [readonly]="false"
          [file]="selectedFile"
          #editor
          class="editor"
        ></app-code-editor>
        <ng-template #emptyCodeBlock>
          <div class="emptyCodeBlock">
            <p>Здесь будет код, выбранного файла</p>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
