.fileContainer {
  .folderName {
    font-size: 14px;
    width: auto;
    height: 100%;
    padding: 0px;
  }

  .editIcon {
    padding: 0px !important;
    width: 36px;
    min-width: 0px !important;
  }

  .editIcon span {
    padding: 0px;
    width: 36px !important;
    min-width: 0px !important;
  }
}

.childrenContainer {
  margin-left: 20px;
}
